/* 
.gradient {
    padding: 20px;
  background: 
    linear-gradient(to top, #1d4ed8 0%, #1d4ed8 60%, #4ca8ea 100%);
} */

.gradient {
  /* padding: 20px; */
  padding-inline: 100px;
  padding-block: 25px;
  background: linear-gradient(to top, #10002b 0%, #240046 100%);
  
  /* background:  */
    /* linear-gradient(to top, #1d4ed8 0%, #1d4ed8 60%, #4ca8ea 100%); */
}
.tak{
  padding-block: 15px;
}