.main{
    padding-top: 30px;
    padding-bottom: 150px;
}
.log{
    padding: 30px;
}
.btn{
    padding: 10px;
}
.inpclass {
    width: 100% !important;
    padding: 10px 14px 10px 50px !important; /* room for flag */
    border: 1px solid #d1d5db !important; /* gray-300 */
    border-radius: 0.5rem !important; /* rounded-lg */
    font-size: 1rem;
    /* border-width: 0 0 1px !important;  */
}