@import "tailwindcss";


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}
.nav{
  padding: 0px 50px;
}
.Smenu{
  padding: 10px 30px;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  min-width: 100%;
  max-width: 1366px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}

@media screen and (max-width:950px) {
  .nav{
  padding: 0px 20px;
}
.close{
  padding: 10px 15px 0px 0px;
}
.sidebar{
  padding-left: 30px;
  line-height: 30px;
}
.sublink{
  
  line-height: 30px;
}
}