.gradient{
    padding: 0px 0px 50px 50px;
    background: linear-gradient(to right, #1d4ed8 0%, #1d4ed8 60%, #4ca8ea 100%);
}
.butn{
    padding: 6px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.butn:hover{
    background-color: #4ca8ea;
}
.servic{
    padding: 0px 50px 0px 0px;
}
.img{
    margin-bottom: -10px;
}
.serv{
    padding: 10px 0px 5px 20px;
    width: 17vw;
}
.detail{
    padding: 20px 0px 20px 20px;
    width: 16vw;
}
.dscm{
    padding: 40px 0px;
}
.market{
    padding: 20px 20px;
}
.inp{
    padding: 10px 7px;
}
.butto{
    padding: 8px;
}
.freel{
    padding: 20px 10px;
    margin-bottom: 20px;
}
.hirefst{
    padding: 6px 20px;
}
.nextfrel{
    padding: 20px 10px;
}
.fmarketplc{
    padding: 20px 10px;
}
.Fmark{
    padding: 50px 0px 50px 0px;
}

.scrollhide::-webkit-scrollbar {
    display: none;
  }
  .scrollhide {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
  