.gradient{
    padding: 0px 0px 50px 50px;
    background: linear-gradient(to right, #1d4ed8 0%, #1d4ed8 60%, #4ca8ea 100%);
}
.butn{
    padding: 6px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.butn:hover{
    background-color: #4ca8ea;
}
.servic{
    padding: 0px 50px 0px 0px;
}
.img{
    margin-bottom: -10px;
}
.serv{
    padding: 10px 0px 5px 20px;
}

.detail{
    padding: 20px 0px 20px 20px;
}
.dscm{
    padding: 40px 0px;
}
.market{
    padding: 20px 10px;
    width: 15.5vw;
}
.inp{
    padding: 10px 7px;
}
.butto{
    padding: 8px;
}
.freel{
    padding: 20px 10px;
    margin-bottom: 20px;
}
.hirefst{
    padding: 6px 20px;
}
.nextfrel{
    padding: 20px 10px;
}
.fmarketplc{
    padding: 20px 10px;
}
.Fmark{
    padding: 50px 0px 100px 40px;
}
.tags{
    padding: 2px 35px;
}
.srch{
    padding: 10px 14px;
}
.scrollhide::-webkit-scrollbar {
    display: none;
  }
  .scrollhide {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
  }
  

  @media screen and (max-width:950px){
    .gradient{
        padding: 20px 15px 50px 15px;
    }
    .serv{
        width: 100%;
        padding: 20px 0px 20px 35px;
    }
    .servic{
        padding: 0px;
        gap: 30px;
    }
    .dscm{
        padding: 40px 20px;
    }

    /* .detail{
        width: 100%;
    } */
    .market{
        width: 100%;
    }
    .Fmark{
        padding: 20px ;
    }
    .ttp{
        padding-bottom: 30px;
    }
    
  }
  @media screen and (max-width: 980px) and (min-width: 951px){
    .ttp{
        padding-bottom: 30px;
    }
    .gradient{
        padding: 0px;  
        padding-block: 50px;
    }
    .servic{
        padding: 0px;
        padding-inline: 90px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .serv{
        padding: 20px 0px 20px 35px;
    }
    .dscm{
        padding: 0px;
        padding-block: 50px;
        padding-inline: 30px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .detail{
        padding-block: 20px;
        padding-inline: 30px;
    }
    .freel{
        padding: 20px 10px;
        margin-bottom: 20px;
        /* padding: 0px; */
        /* margin: 0px; */
    }
    .Fmark{
        padding: 50px 0px 100px 40px;
        /* padding: 0px; */
    }
  }