.load{
    margin-top: 100px;
    color: white;
    font-size: 20px;
}
.top{
}
.prduct{
    padding-left: 70px;
}
.activ{
}
.actv1, .actv2, .actv3, .actv4{
    padding: 3px 20px;
}
.tic{
    padding: 3px 15px;
}
.aff{
    padding: 5px 10px;
}
.nestd{
    padding: 10px;
}
.oo{
    padding-left: 30px;
}
.spc{
    padding: 0px 16px;
}